<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">

  <title>Restore Password</title>
  <%= stylesheet_link_tag   "beach_api_core/application", :media => "all" %>

  <%= csrf_meta_tag %>

</head>
<body >
    <div id="container">
      <div class="header">
        <div class="image-header">
          <div class="img">
            <%= image_tag('beach_api_core/beach-logo.png', class:'img')%>
          </div>
        </div>
        <div class="header-text">Please set your password to complete your account setup</div>
      </div>
      <div class="body">
        <%= form_for @user, url: confirm_v1_user_path, class: "formtastic session", method: :post do |f| %>
            <% if @result[:status] != 'updated' && @result[:message].any?%>
                <ul>
                  <% @result[:message].each do |msg| %>
                      <li class="error_text"><%= msg %></li>
                  <% end %>
                </ul>
            <% end %>




            <fieldset class="inputs-form">
              <ul>
                <li class="string input required stringish" id="new_password_input">
                  <label for="password" class="label_text">Password<abbr title="required">*</abbr>
                  </label>
                  <input id="password" type="password" name="password">
                </li>
                <li class="string input required stringish" id="confirm_password_input">
                  <label for="confirm_password" class="label_text"  >Confirm Password<abbr title="required">*</abbr>
                  </label>
                  <input id="password_confirmation" type="password" name="password_confirmation">
                </li>
                <%= hidden_field_tag "confirmation_token", params[:confirmation_token] %>

                <fieldset class="actions">
                  <ul>
                    <li class="action input_action" id="password_submit_action">
                      <input class="submit-button" type="submit" name="commit" value="Set Password" data-disable-with="Set Password">
                    </li>
                  </ul>
                </fieldset>



              </ul>
            </fieldset>
        <% end %>
      </div>
      <div class="footer">
        <div class="image-header">
          <div>
            <%= image_tag('beach_api_core/beach-logo.png', class:'img-footer')%>
          </div>
          <label class="header-text">Identity Provided by Mineful</label>
        </div>


      </div>
    </div>
</body>

</html>