<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Here is your daily summary of activity</h1>
    <p>
      <% @notifications_by_project.each do |project, notifications| %>
        Project <%= project %>.
        <br>
        <% notifications.each do |type, count| %>
          <% case type
            when "create_project" %>
            * Project was created
          <% when "update_project" %>
            * Project was updated <%= count %> times
          <% when "create_chart" %>
            * Added <%= count %> chart(s)
          <% when "update_chart" %>
            * Charts was updated <%= count %> times
          <% when "destroy_chart" %>
            * <%= count %> chart(s) was destroyed
          <% end %>
          <br>
        <% end %>
        <br>
      <% end %>
    </p>
  </body>
</html>
