<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">

  <title>Success</title>
  <%= stylesheet_link_tag   "beach_api_core/application", :media => "all" %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= csrf_meta_tag %>

</head>
<body class="active_admin logged_out restore_password">
<div id="container" style="<%= @config[:body_style] %>">
  <div class="header">
    <% if @config[:show_application_logo] %>
        <div class="image-header">
          <div class="img">
            <%= image_tag(@config[:application_logo], class:'img')%>
          </div>
        </div>
    <% end %>
  </div>
  <div class="body">

    <div>
      <div class="success_message" style="color:<%= @config[:text_color]%>;border-radius: <%= @config[:success_form_radius] %>;background: <%= @config[:success_background_color] %>; width: 518px; margin-left: <%= @config[:margin] %>;">
        <p style="font-size: 19px; letter-spacing: 2px; color: <%= @config[:success_text_color] %>"><%= @config[:success_text].gsub("[GROUP_TYPE]", @group[:type]).gsub("[GROUP_NAME]", @group[:name]).html_safe %></p>
      </div>
      <div style="margin-top: 10px;">
        <% if @config[:success_button_first_available] %>
            <div style="display: inline-block;">
              <a href="<%= @config[:first_link] %>" ><button style="width: <%= @config[:button_width] %>; height: 60px; <%= @config[:success_button_style] %>" class="submit-button"><i class="<%= @config[:first_icon] %>"></i> <%= @config[:first_btn_text].gsub("\n", "<br>").html_safe %> </button></a>
            </div>
        <%end %>
        <% if @config[:success_button_second_available] %>
            <div style="display: inline-block">
              <a href="<%= @config[:second_link] %>" ><button style="width:<%= @config[:button_width] %>; height: 60px; <% if @config[:success_button_first_available] %> margin-left: 25px; <% end %> <%= @config[:success_button_style] %>" class="submit-button"><i class="<%= @config[:second_icon] %>"></i> <%= @config[:second_btn_text].gsub("\n", "<br>").html_safe %> </button></a>
            </div>
        <%end %>
        <% if @config[:success_button_third_available] %>
            <div style="display: inline-block">
              <a href="<%= @config[:third_link] %>" ><button style="width:<%= @config[:button_width] %>; height: 60px; <% if @config[:third_margin] %> margin-left: 25px;<% end %> <%= @config[:success_button_style] %>" class="submit-button"><i class="<%= @config[:third_icon] %>"></i> <%= @config[:third_btn_text].gsub("\n", "<br>").html_safe %>  </button></a>
            </div>
        <% end %>
      </div>
    </div>

  </div>
  <div class="footer">
    <% if @config[:show_instance_logo] %>
        <div class="image-header">
          <div>
            <%= image_tag(BeachApiCore::Instance.instance_logo, class:'img-footer')%>
          </div>
          <label class="header-text" style="color: <%= @config[:provided_text_color] %>">Identity Provided by Mineful</label>
        </div>
    <% end %>

  </div>
</div>

</body>

</html>